langchain  # or latest compatible with langsmith>=0.3.45
langsmith  # or higher
#langchain==0.3.0
langchain-openai==0.2.0
langgraph==0.6.10
python-dotenv==1.0.0

fastapi==0.104.1
uvicorn[standard]==0.24.0
websockets==12.0