name: Deploy McDonald Frontend

on:
  push:
    branches:
      - main
    paths:
      - 'client-websites/McDonald_frontend/**'

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger Vercel Deployment
        run: |
          echo "Triggering Vercel deployment..."
          RESPONSE=$(curl -s -i -X POST "https://api.vercel.com/v1/integrations/deploy/prj_qtVdIK18Al62RqR0zLSBloaqueA7/vdtGi3erOW")
          echo "$RESPONSE"
