name: Deploy Starbucks Frontend

on:
  push:
    branches:
      - main
    paths:
      - 'client-websites/starbucks_frontend/**'

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger Vercel Deployment
        run: |
          echo "Triggering Vercel deployment..."
          RESPONSE=$(curl -s -i -X POST "https://api.vercel.com/v1/integrations/deploy/prj_Tnx4xv9U67uRNVse5V6IO8dmJx3e/h17AdJy2T1")
          echo "$RESPONSE"
