name: Deploy BurgerKing Frontend

on:
  push:
    paths:
      - 'client-websites/burger_king_frontend/**'

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger Vercel Deployment
        run: |
          curl -X POST "https://api.vercel.com/v1/integrations/deploy/prj_fjS70ABEwkFJTO4W71Akoh7N3H53/ahDuw9kuH1"
