name: Deploy Popeyes Frontend

on:
  push:
    branches:
      - main
    paths:
      - 'client-websites/Popeyes_frontend/**'

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger Vercel Deployment
        run: |
          echo "Triggering Vercel deployment..."
          RESPONSE=$(curl -s -i -X POST "https://api.vercel.com/v1/integrations/deploy/prj_O7p0WRiY5HflVGTxRujuNOXUAQvq/2oXSWdAlI9")
          echo "$RESPONSE"
