name: Deploy BigChicken Frontend

on:
  push:
    branches:
      - main
    paths:
      - 'client-websites/big_chicken_frontend/**'

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger Vercel Deployment
        run: |
          echo "Triggering Vercel deployment..."
          RESPONSE=$(curl -s -i -X POST "https://api.vercel.com/v1/integrations/deploy/prj_hY1Fp42TWEC12SqhrsjNrNMgd41N/PfgtdtFFxI")
          echo "$RESPONSE"
